<div class="page-header">
	<h1>All Of The Statuses</h1>
</div>
<% @statuses.each do |status| %>

<div class=" well status">
	<div class="row">
	  <div class="span8">
	    <div class="row">
	      <div class="span8">
	        <h4><strong><a href="#"><%= status.name %></a></strong></h4>
	      </div>
	    </div>
	    <div class="row">
	      <div class="span2">
	        <a href="#" class="thumbnail">
	            <img src="http://placehold.it/260x180" alt="">
	        </a>
	      </div>
	      <div class="span6">      
	        <p><%= status.content%>
	        </p>
	        <p><a class="btn" href="#">Read more</a></p>
	      </div>
	    </div>
	    <div class="row">
	      <div class="span8">
	        <p></p>
	        <p>
	          <i class="icon-user"></i> by <a href="#">John</a> 
	          | <i class="icon-calendar"></i> <%= link_to time_ago_in_words(status.created_at) + " ago", status%>
	          | <i class="icon-comment"></i> <a href="#">3 Comments</a>
	          | <i class="icon-share"></i> <a href="#">39 Shares</a>
	        </p>
		</div>
	    </div>
	  </div>
	</div>
</div>
<%end%>

<br />

<%= link_to 'New Status', new_status_path %>
